@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply mx-auto w-full scrollbar-hide;
        @apply bg-white text-gray-400 dark:bg-primary-dark dark:text-gray-400;
    }
}

@layer components {
    .blobAnimation {
        @apply absolute z-0 mt-12 hidden animate-blob rounded-full opacity-20 mix-blend-multiply blur-sm  filter dark:opacity-100 lg:flex lg:h-60 lg:w-60;
    }

    .navButton {
        @apply h-5 w-5 cursor-pointer rounded-full;
    }
    .heroButton {
        @apply rounded-full border-gray-400 px-4 py-[3px] text-xs uppercase tracking-widest text-gray-500 underline
        transition-all hover:border-gray-500/40 hover:text-gray-500/40
        dark:border-gray-500 dark:text-gray-400 dark:hover:border-gray-200 dark:hover:text-gray-200;
    }
    .input-container {
        @apply relative -space-y-px rounded-md text-base shadow-sm;
    }
    .input {
        @apply block  w-full appearance-none rounded border border-gray-300 px-3 py-2 text-base  text-gray-400  focus:outline-none hover:cursor-text dark:text-white;
    }
    .label {
        @apply absolute left-3 -top-6 text-base  text-gray-400 transition-all focus:outline  hover:cursor-text;
    }
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}
